# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/ConsoleApplication1/.vs/ConsoleApplication1/v14
/ConsoleApplication1/ipch/CONSOLEAPPLICATION1-b46b90fe
/ConsoleApplication1/stdafx.cpp
/ConsoleApplication1/ReadMe.txt
/ConsoleApplication1/ConsoleApplication1.vcxproj.filters
/ConsoleApplication1/ConsoleApplication1.vcxproj
/ConsoleApplication1/ConsoleApplication1.VC.VC.opendb
/ConsoleApplication1/ConsoleApplication1.VC.db
/ConsoleApplication1/ConsoleApplication1.sln
/ConsoleApplication1/ConsoleApplication1.cpp
/ConsoleApplication1/Debug/ConsoleA.49ADF1C1.tlog
/ConsoleApplication1/Debug/vc140.idb
/ConsoleApplication1/Debug/ConsoleApplication1.log
/TDE1/Debug/TDE1.exe
/TDE1/Debug/TDE1.ilk
/TDE1/Debug
/TDE1/TDE1
/TDE1/TDE1.sln
/TDE1
/.vs/Trabalho1/v14
/Trabalho1.VC.db
/Trabalho1.VC.VC.opendb
/Trabalho1.sln
/Trabalho1.vcxproj
/Trabalho1.vcxproj.filters
